{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "globals": {
    "__DEV__": false,
    "__PROD__": false
  },
  "rules": {
    "no-alert": "error",
    "no-console": "off",
    "no-eval": "error",
    "no-extra-bind": "error",
    "no-floating-decimal": "error",
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-undef": "off",
    "no-unused-vars": "off",
    "curly": "error",
    "max-lines": [
      "error",
      150
    ],
    "default-case": "warn",
    "dot-location": "warn",
    "dot-notation": "warn"
  }
}