/* @author Bilal Cinarli */

/** -------------------------------------------
 
    ------------------------------------------- **/
.backoffice-info {
    padding-top: 150px;
    text-align: center;
}

.live-chat-backoffice {
    margin-top: 100px;
    z-index: 99;
}
