{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "globals": {
    "__DEV__": false,
    "__PROD__": false
  },
  "rules": {
    "no-alert": "error",
    "no-console": "off",
    "no-eval": "error",
    "no-extra-bind": "error",
    "no-floating-decimal": "error",
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-undef": "off",
    "no-unused-vars": "off",
    "curly": "error",
    "max-lines": [
      "error",
      150
    ],
    "default-case": "warn",
    "dot-location": "warn",
    "dot-notation": "warn",
    // React Specific
    "react/no-did-mount-set-state": "error",
    "react/prop-types": "off",
    "react/no-multi-comp": [
      "error",
      {
        "ignoreStateless": true
      }
    ],
    "react/prefer-es6-class": [
      "error",
      "always"
    ],
    "react/prefer-stateless-function": "off",
    "react/jsx-no-bind": "error",
    "react/sort-com": [
      0
    ]
  }
}