/* @author Bilal Cinarli */

/** -------------------------------------------
    Content
    ------------------------------------------- **/
.page-content {
    .container {
        @include flex;
        padding: 0 $base-gutter;
    }

    .page-404 & {
        padding-top: 200px;
        text-align: center;
    }
}

.page-main {
    padding-left: $base-gutter;

    @media screen and (min-width: 48.01em) {
        width: calc(100% - 250px);
    }

    &-content {
        @include font-size(14px);
    }

    .page-404 &,
    .page-backoffice & {
        width: 100%;
        padding: 0 $base-gutter;
    }
}