/* @author Bilal Cinarli */

/** -------------------------------------------
    Header
    ------------------------------------------- **/
.page-header {
    position: fixed;
    top: 0;
    left: 0;
    @include dims(100%, 60px);
    background-color: #000;
    z-index: 99;
}