/* @author Bilal Cinarli */

/** -------------------------------------------
    Page
    ------------------------------------------- **/
.page-wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1280px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 $base-gutter;
}