/* @author Bilal Cinarli */

/** -------------------------------------------
 
    ------------------------------------------- **/
.page-sidebar {
    position: relative;

    &.is-toggled {
        @media screen and (max-width: 48em) {
            width: 250px;
        }
    }

    @media screen and (min-width: 48.01em) {
        width: 250px;
    }
}