/* @author Bilal Cinarli */

/** -------------------------------------------

    ------------------------------------------- **/
.live-chat {
    &-wrapper {
        position: fixed;
        right: 20px;
        bottom: 0;
        width: 150px;
        height: 28px;
        border-radius: 5px 5px 0 0;
        background-color: #fff;
        font: 16px helvetica, arial, sans-serif;
        overflow: hidden;

        &.live-chat-toggled {
            width: 303px;
            height: auto;
            box-shadow: 0 0 3px 2px rgba(0, 0, 0, .1);
            overflow: auto;
        }
    }

    &-toggle {
        margin: 0;
        padding: 5px;
        border-radius: 5px 5px 0 0;
        background-color: #000;
        color: #fff;
        font-size: 1em;
        text-transform: none;
        cursor: pointer;

        .live-chat-toggled & {
            &::after {
                position: absolute;
                top: 0;
                right: 5px;
                line-height: 28px;
                content: "—";
            }
        }
    }

    &-messages {
        height: 240px;
        font-size: 14px;
        overflow-y: scroll;

        ul {
            margin: 0 0 20px;
            padding: 0;
            list-style: none;
        }

        li {
            margin-top: 5px;
            padding: 0 5px;
            overflow: hidden;
        }
    }

    &-message {
        position: relative;
        border-top: 1px solid #ccc;

        &-mine {
            + .live-chat-message-mine {
                margin-top: 1px;
            }
        }

        &-their {
            + .live-chat-message-their {
                margin-top: 1px;
            }
        }
    }

    &-message-input {
        display: inline-block;
        width: calc(100% - 45px);
        height: 34px;
    }

    &-message-input-item {
        &.live-chat-message-input-item {
            width: 100%;
            border: 0;
        }
    }

    &-message-send {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 40px;
        padding: 5px;
        border-radius: 2px;
        background-color: #000;
        color: #fff;
        font-size: .8em;

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }

    &-message-inner {
        display: inline-block;
        min-width: 50px;
        max-width: 90%;
        padding: 5px;
        border-radius: 5px;
        color: #fff;
    }

    &-message-mine {
        .live-chat-message-inner {
            float: right;
            background-color: #4080ff;
        }
    }

    &-message-their {
        .live-chat-message-inner {
            background-color: #ddd;
            color: #000;
        }
    }

    &-message-warning {
        .live-chat-message-inner {
            display: block;
            color: #999;
            font-style: italic;
            text-align: center;
        }
    }

    &-backoffice {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px;

        &-tab {
            display: inline-block;
            margin-right: 5px;
            padding: 5px 10px;
            border-radius: 5px 5px 0 0;
            background-color: #ccc;
            color: #444;
            text-decoration: none;

            &.live-chat-tab-active {
                background-color: #999;
                color: #fff;

                .live-chat-unread {
                    display: none;
                }
            }
        }

        &-chats {
            position: relative;
        }

        &-wrapper {
            display: none;
            position: absolute;
            width: 100%;
            border: 1px solid #999;
            background-color: #fff;

            &.live-chat-session-active {
                display: block;
            }
        }
    }

    &-unread {
        display: inline-block;
        margin-left: 5px;

        &.live-chat-has-unread {
            &::before {
                content: "(";
            }

            &::after {
                content: ")";
            }
        }
    }
}